<% include partials/header%> 

	<h1>Post</h1>

	<form method="post" action="/blog">
		Author:
		<input type="text" name="authorName">
		<div>Text: <textarea name="textName"></textarea></div>
		<input type="submit">
	</form>

	<a href="/blog"><button>Go back home</button></a>

<% include partials/footer%>