<h1>Post</h1>

<form method="post" action="/enterText">
	<input type="text" name="authorName">
	<input type="text" name="textName">
	<input type="submit">
</form>

<a href="/"><button>Go back home</button></a>