<% include partials/header%> 

	<h1>Welcome to Quinks</h1>


	<% posts.forEach(function(element){ %>
	<ul>
		<li class="card">
			Preview
			<div><b>Text:</b> <%= element["text"].substring(0,250) %></div>
			<div><b>Author:</b> <%= element["author"] %></div>
			<div><a href="/blog/<%=element["_id"]%>"><button>More</button></a></div>
		</li>	
	</ul>
	<% }); %>
	<a href="/blog/new"><button>Post Blog</button></a>

<% include partials/footer%>